body {
  /* height: 200vh; */
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e9ecef;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.header-address {
  margin: 0;
  padding: 2% 0%;
  margin-left: 1%;
}

.header-icon {
  margin: 16px 30px 16px 0;
}

@mixin footer-nav {
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
}
.footer-nav {
  @include footer-nav;
  color: gray;
}
.footer-nav-active {
  @include footer-nav;
  color: black;
}
.footer-wrapper {
  position: fixed;
  width: 100%;
  background-color: white;
  bottom: 0;
}
.shop-wrapper {
  justify-content: center;
  margin-bottom: 100px;
}
.shop-article-wrapper {
  width: 400px;
  margin: 0 auto;
}
.shop-image {
  width: 400px;
  height: 250px;
}

.gray-background {
  background-color: #e9ecef;
  display: inline;
  font-weight: bold;
  color: gray;
}

@mixin input {
  border: 0;
  font-weight: bold;
  outline: none;
  font-size: 20px;
}

.address-search {
  @include input;
  margin-top: 50px;
  width: 90%;
  padding: 20px 10px;
  background-color: #e9ecef;
}

@mixin icon($top) {
  position: absolute;
  top: $top;
}

.address-icon-left {
  @include icon(160px);
  left: 90px;
}

.address-icon-right {
  @include icon(160px);
  right: 90px;
}
.address-wrapper {
  margin-top: 30px;
  margin-left: 60px;
  text-align: left;
}

.address-info-wrapper {
  margin-left: 15px;
}

.address-detail-input {
  @include input;
  display: block;
  width: 99%;
  height: 30px;
}

.address-location-icon {
  margin: 25px 20px 0px 0px;
  display: block;
}
.gray-bar {
  width: 100%;
  padding: 10px 0px;
  background-color: #e9ecef;
}
@mixin default {
  width: 32px;
  height: 32px;
  float: left;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  color: white;
  margin-left: 20px;
}
.address-detail-default-active {
  @include default();
  border: 3px solid orange;
  background-color: orange;
}

.address-detail-default {
  @include default();
  border: 3px solid black;
  background-color: transparent;
}

.profile-detail-list {
  color: gray;
}

.profile-detail-list-active {
  color: black;
  border-bottom: 4px solid gray;
}

.avatar-icon {
  position: absolute;
  left: 52%;
  margin-top: 85px;
  background-color: #f54920;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid white;
}

.profile-edit-submit {
  position: absolute;
  right: 70px;
  top: 21.44px;
  border: 0px;
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}
.profile-edit-nickname {
  width: 90%;
  height: 50px;
  border: 2px solid #e9ecef;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  outline: none;
  padding-left: 15px;
}
.profile-edit-delete {
  position: absolute;
  margin-top: 10px;
  right: 150px;
  color: orangered;
}
.profile-edit-info {
  width: 90%;
  height: 250px;
  border: 2px solid #e9ecef;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  outline: none;
  padding-left: 15px;
  padding-top: 10px;
}

.profile-edit-wrapper {
  margin-left: 10%;
  margin-top: 5%;
  position: relative;
}

.profile-edit-head {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

b {
  color: black;
}

.profile-detail-button {
  width: 300px;
  border: 2px solid orange;
  margin: 0 auto;
  color: orangered;
  margin-top: 30px;
  border-radius: 8px;
}

.profile-detail-money {
  width: 600px;
  margin: 0 auto;
  border: 2px solid #e9ecef;
  margin-top: 30px;
  position: relative;
  border-radius: 10px;
  text-align: left;
}
.profile-detail-money-icon {
  position: absolute;
  left: 30px;
  top: 25%;
}
.profile-detail-money-value {
  font-size: 25px;
  margin: 0;
  color: orangered;
}
.profile-detail-money-wrapper {
  margin-left: 100px;
}
.profile-detail-list-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
  color: gray;
}

.profile-header-icon {
  position: absolute;
  right: 30px;
  top: 30px;
}

.profile-wrapper {
  margin-left: 10%;
  margin-top: 50px;
  position: relative;
}

.profile-image {
  height: 64px;
  width: 64px;
  border-radius: 32px;
}

.profile-name {
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  margin-bottom: 30px;
  margin-left: 20px;
}

.profile-icon {
  position: absolute;
  right: 10%;
  margin-top: 20px;
}

.profile-menu-wrapper {
  margin-left: 10%;
}

.login-wrapper {
  background-color: #f54920;
  text-align: center;
  color: white;
  width: 100%;
  position: absolute;
  height: 100vh;
}

.login-head-wrapper {
  margin: 10% 0 4% 0;
}

.font-normal {
  font-weight: normal;
}
.login-button {
  width: 50%;
  border-radius: 16px;
  border: 0px;
  background-color: #f7e600;
}

.search-box-wrapper {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  margin-top: 10%;
}
.search-box {
  background-color: #e9ecef;
  color: gray;
  padding: 10px;
  border-radius: 10px;
}
.search-box-item {
  position: relative;
  width: 30%;
  padding: 10% 0%;
  border-radius: 1rem;
  font-weight: bold;
  background-color: white;
  margin: 1%;
}
.search-input {
  @include input();
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
  color: gray;
  background-color: #e9ecef;
  border-radius: 8px;
  padding: 15px;
}

.search-icon {
  position: absolute;
  right: 60px;
  top: 30px;
  color: gray;
}

.search-box-tip {
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.search-box-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
